/*COLORS*/

:root {

    --logo-color: #ff9614;
    --light-color: white;
    --bg-color: #f6f5f3;
    --mid-color-text: #ababab;
    --secondary-color: #7c69a4;

}

.fa-facebook {

    color: blue;
}

.fa-twitter {

    color: #019eff;
}

.fa-instagram {

    color: #ff80b0;
}

.fa-pinterest {

    color: red;
}

.fa-youtube {

    color: red
}

/*END COLORS*/


/*REGION COMMON*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px black dashed;
}

img {

    width: 100%;
    display: block;
}

a:link,
a:visited {

    text-decoration: none;

}

.container {
    width: 90%;
    margin: 0 auto;

}

.flex {

    display: flex;
}


/*END REGION COMMON*/

/*LAYOUT GRID*/


[class^="col"] {
    padding: 1rem;
}

.col {
    width: auto;
    flex-basis: auto;

}

.row {
    display: flex;
    flex-wrap: wrap;
    /* margin negativo */
    margin: 0 -1rem;
}

/* END LAYOUT GRID */