/*FONT*/

@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* END FONT */

/*REGION COMMON*/

.main,
.footer {

    font-family: Montserrat, 'Helvetica Neue', sans-serif;
}

.no-display {

    display: none;
}


/* END REGION COMMON */

/*HEADER*/

header {

    background-color: var(--light-color);
    align-items: center;
    justify-content: center;
}

#logo-title {

    font-family: "Nerko One", serif;
    font-size: 2.8rem;
    color: var(--logo-color);
    font-style: italic;
    text-shadow: 0.5px 1px 1px #8c8c8c;
    line-height: 2.3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;

}

/* MAIN */

main {

    background-color: var(--bg-color);
    font-family: Montserrat, 'Helvetica Neue', sans-serif;

}

.recipe {

    width: 90%;
    margin: 0 auto;
    margin-top: 2rem;

    h2 {

        color: var(--secondary-color);

    }

    h4 {

        color: var(--mid-color-text);
        font-weight: 400;
        padding-bottom: 0.5rem;

    }
}

.card-video {

    background-color: var(--light-color);
    margin-top: 1.5rem;

    ul {

        list-style: none;
        margin-left: 1rem;

    }
}



/* FOOTER */

footer {

    background-color: var(--secondary-color);
    font-family: Montserrat, 'Helvetica Neue', sans-serif;
}



/* MEDIA QUERY */

/*///////////////////// 768 //////////////////////*/

@media screen and (min-width: 768px) {

    header {

        background-color: red;
        justify-content: flex-start;

        #logo-title {

            margin-left: 1rem;
        }
    }





}

/*///////////////////// 992 //////////////////////*/

@media screen and (min-width: 992px) {

    header {

        background-color: blueviolet;
    }
}

/* END MEDIA QUERY */