/*FONT*/

@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* END FONT */

/*REGION COMMON*/

.main,
.footer {

    font-family: Montserrat, 'Helvetica Neue', sans-serif;
}

.display {

    display: none;
}


/* END REGION COMMON */

/*HEADER*/

header {

    background-color: var(--light-color);
    align-items: center;
    justify-content: center;
}

#logo-title {

    font-family: "Nerko One", serif;
    font-size: 2.8rem;
    color: var(--logo-color);
    font-style: italic;
    text-shadow: 0.5px 1px 1px #8c8c8c;
    line-height: 2.3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;

}

/* MAIN */

main {

    background-color: var(--bg-color);
    font-family: Montserrat, 'Helvetica Neue', sans-serif;

}

.recipe {

    margin-top: 2rem;


    h2 {

        color: var(--secondary-color);

    }

    h4 {

        color: var(--mid-color-text);
        font-weight: 400;
        padding-bottom: 0.5rem;

    }
}

.card-video {

    background-color: var(--light-color);
    margin-top: 1.5rem;
    flex-direction: column;

    ul {

        list-style: none;
        padding-top: 1rem;
        padding-bottom: 1rem;
        line-height: 2rem;

        span {

            font-weight: bold;
        }

    }

    .ingredients {

        margin-left: 1rem;
        padding-top: 1rem;
    }

    h5 {

        font-size: 1.2rem;
        font-weight: bold;
    }
}

.social {

    justify-content: space-between;
    margin-top: 1rem;

    .single-social {

        background-color: var(--light-color);
        box-shadow: 1px 1px black ;
        padding: 0.5rem;
        border-radius: 2rem;

    }
}



/* FOOTER */

footer {

    background-color: var(--secondary-color);
    font-family: Montserrat, 'Helvetica Neue', sans-serif;
}



/* MEDIA QUERY */

/*///////////////////// 768 //////////////////////*/

@media screen and (min-width: 768px) {

    header {

        background-color: red;
        /*debug*/
        justify-content: flex-start;

        #logo-title {

            margin-left: 1rem;
        }
    }

    .ingredients {

        ul {

            display: flex;
            flex-wrap: wrap;
            gap: 1rem;

            li {

                padding-right: 3rem;


            }
        }


    }

   




}

/*///////////////////// 992 //////////////////////*/

@media screen and (min-width: 992px) {

    header {

        background-color: blueviolet;
        /*debug*/
    }

    .card-video {

        flex-direction: row;
    }

    .ingredients {

        ul {

            display: flex;
            flex-direction: column;
            gap: 1rem;
        }


    }


    .display {

        display: contents;

    }

    .social {

        
        span {

            color: black;
            font-weight: bold;

        }
    }


}

/* END MEDIA QUERY */